@Scripts.Render("~/bundles/jquery")
<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Angular Test</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/dashboard.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div ui-view></div>

       
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/AngularUI/ui-router.min.js"></script>

    <script src="~/Scripts/q.js"></script>  
    <script src="~/Scripts/breeze.debug.js"></script>  
    <script src="~/Scripts/breeze.min.js"></script>  
    <script src="~/Scripts/breeze.savequeuing.js"></script>  

    <script src="~/App/app.js"></script>
    <script src="~/App/signalRService.js"></script>
    <script src="~/App/Home/homeController.js"></script>
    <script src="~/App/Tests/testsController.js"></script>
    <script src="~/App/Tests/testDetailController.js"></script>
    <script src="~/App/Playground/playgroundController.js"></script>  
    <script src="~/App/dataContext.js"></script>   
    <script src="~/App/Tests/testModel.js"></script>
    

  </body>
</html>